<form action='/signup' method='POST'>
  <input type="text" placeholder="Firstname" name="firstName"/>
  <input type="text" placeholder="Surname" name="surname"/>
  <input type="date" name="birthDate"/>
  <input type="email" placeholder="Email" name="email"/>
  <input type="password" placeholder="Password" name="password"/>
  <input type="password" placeholder="Confirmation Password" name="passwordConfirm"/>

  <button type="submit">Submit</button>
</form>