<p>This page is protected</p>

<h1>{{ username }} {{ surname }}</h1>
<a href="/logout">Logout</a>

{{> navbar }}
<h1> Add product </h1>
<form enctype='multipart/form-data' action='/products' method='POST'>
    <input type="text" placeholder="Name" name="name" value="Vase" />
    <input type="text" placeholder="Description" name="description" value="un joli vase" />
    <select name="cities">
        <option value="paris"> Paris </option>
        <option value="lyon">Lyon</option>
        <option value="marseille"> Marseille </option>
    </select>
    <input type="number" name="price" value="10"/>
    <input type="file" name='image'/>
    <button type="submit">Submit</button>
</form>